body{
    text-align: center;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.container{
    width: 600px;
    background-color: #ade8f4;
    margin: 35px auto;
    padding: 30px;
    border-radius: 20px;
    border: 2px solid #03045e;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

button {
    font-size: 30px;
    padding: 20px 30px;
    height: 80px;
    width: 80px;
    margin: 15px 20px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: #6c757d;
    color: white;
    font-weight: bold;
}

#input {
    font-size: 40px;
    width: 70%;
    height: auto;
    text-align: left;
    border: 3px solid black;
    padding-left: 10px;
    border-radius: 10px;
}

h1 {
    font-size: 40px;
    color: #03045e;
    font-weight: bold;
}

#clear-btn {
    background-color: #6c757d;
    width: 100px;
    height: auto;
    padding: 15px;
    font-size: 30px;
    color: white;
    font-weight: bold;
}